.*
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Next.js build output
.next
out

next-env.d.ts

robots.txt
sitemap.xml
sitemap-0.xml

# macOS
.DS_Store

.Ulysses-Settings.plist

.vscode